.Employee {
  width: 70vw;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 5px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.Employee:hover,
.Employee:active {
  border: 1px solid rgb(91, 140, 167);
  box-shadow: 0 2px 3px rgb(91, 140, 167);
}
