@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 30px;
  background-color: #162e4b;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 2px #ccc;
}

.Logo,
.fa-map-marker-alt {
  color: rgb(255, 111, 0);
}

.Employees {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .Header {
    font-size: 30px;
  }
}

@media (max-width: 765px) {
  .Nav {
    font-size: 20px;
  }
  .Header {
    font-size: 20px;
  }
}
